{% extends "base.html" %}

{% block content %}
<div class="table-container">
    <div class="table-header">
        <h2>Channels</h2>
        {% if user.is_admin %}
        <a href="{{ url_for('create_channel') }}" class="create-btn">Create Channel</a>
        {% endif %}
    </div>
    <table class="sortable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Monthly Price</th>
                {% if user.is_admin %}
                    <th class="no-sort"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in channel_data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                {% if row[2] == "0.00" %}
                    <td data-sort="0">Free</td>
                {% else %}
                    <td data-sort="{{ row[2] }}">£{{ row[2] }}</td>
                {% endif %}
                {% if user.is_admin %}
                    <td class="edit-button-row"><a href="{{ url_for('update_channel', channel_id=row[0]) }}"
                        class="create-btn">Edit Channel</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
