{% extends "base.html" %}

{% block content %}
<div class="table-container">
    <div class="table-header">
        <h2>Channels</h2>
        <a href="{{ url_for('create_channel') }}"><button class="create-btn">Create Channel</button></a>
    </div>
    <table class="sortable">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Monthly Price</th>
            <th></th>
        </tr>
        {% for row in channel_data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>£{{ row[2] }}</td>
            <td><a href="{{ url_for('update_channel', channel_id=row[0]) }}"><button class="create-btn">Edit Channel</button></a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
