{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<h3 class="centred">New to Telescope? Register <a href="{{ url_for('register') }}">here</a></h3>
<div class="form-container">
  <form method="POST" action="{{ url_for('login') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <label for="username">Username</label>
    <input type="text" id="username" name="username" maxlength="20" value="{{ username or '' }}" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" minlength="15" required>

    {% if error %}
    <p class="form-error">{{ error }}</p>
    {% endif %}

    <button type="submit" class="create-btn">Login</button>
  </form>
</div>
{% endblock %}
